body {
    font-family: Roboto, sans-serif;
    margin: 0;
    font-size: 20px;
    
}

button{
    padding: 6px 20px;
    border-radius: 8px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black
}

/* Header */
.header {
    height: 80px;
    background: goldenrod;
    color: black;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;     
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px
}

.logo {
    font-family: Besley, serif;
    font-size: 32px; 
    font-weight: 900;
    font-style: italic;
    flex-shrink: 0;
}

/* Body 1 */

.body1 {
    height: 550px;
    background: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
    


}
.b1header {
font-weight: 900;
font-size: 40px;
margin:10px

}

button.b1button{
    background: forestgreen;
    color: white;
    margin: 10px

}

.b1text {
    margin: 10px
}

.left{
    width: 400px
}

.right
{
    width: 649px
}

.right,
.left{
    margin: 20px;
}

/* Body 2 */

.body2{
    background-color: beige;
    padding: 30px;
}

.b2header {
    font-weight: 900;
    font-size: 35px;
    margin-bottom: 50px;
    display:flex;
    justify-content: center;
    
}

.b2container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
}

.b2img{
    height: 210px;
    width: 210px;
    border-radius: 25px;
    border: 5px solid forestgreen;
    margin: 10px;
}

/* Body 3 */

.body3{
    height: 250px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    padding: 30px
}

.b3text{
    font-size: 35px;
    color: black;
    font-family: Besley, serif;
    font-style: italic;

}

/* Body 4 */

.body4 {
    height: 200px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b4container{
    background-color: goldenrod;
    display: flex;
    padding: 30px;
    border-radius: 25px;
    border: 5px
}

.b4header{
    font-size: 25px;
    font-weight: bold;

}

button.b4button {
    background-color: forestgreen;
    color: white;
}

.b4left{
    margin-right: 30px;

}